body {
    margin: 20px;
    /*
    Challenge:
    Set the font to Verdana.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 40%;
    border: 6px rgba(231, 191, 191, 0.781) solid;
}

.avatar:hover {
    border: 6px rgba(233, 52, 29, 0.781) solid;;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: linear-gradient(#66e45a, #3c4ba1);
    color: #e62a2a;
    border-bottom: 6px solid #9591a7;
    border-radius: 16%;
    text-shadow: 1.5px 1.5px black;
}

.border-blue {
    border: 1px dotted blue;
}
    